<form action="/homepage" method="post">
  <div>
    <label for="username">userame</label>
    <input type="text" name="username" id="username"/>
  </div>
  <div>
    <label for="Message">Message</label>
    <input type="Message" name="Message" id="Message"/>
  </div>
  <div>
    <input type="submit" value="Add Message"/>
  </div>
</form>

