<h2> Welcome! </h2>

<p>We show totally accurate lists of continents and countries!!</p>

<form action="/messages" method="post">
    <label for="username">userame</label>
    <input type="text" name="username" id="username"/>
    <label for="Message">Message</label>
    <input type="Message" name="Message" id="Message"/>
    <button>Add Message</button>

</form>


<ol>

  <% other_users.each do |user_hash| %>

     <%= user_hash["username"] %> : <%= user_hash["message"] %>


      <% end %>

</ol>